extends ./layout

block title
  | Button

block content
  div.margin-10
    div 正常按钮
    c-button(type="primary inline")| 原始按钮
    c-button(type="danger inline")| 危险按钮
    c-button(type="warn inline")| 警告按钮
    c-button(type="default inline")| 默认按钮

  div.margin-10
    div plain按钮
    c-button(type="plain-primary inline")| 原始按钮
    c-button(type="plain-danger inline")| 危险按钮
    c-button(type="plain-warn inline")| 警告按钮
    c-button(type="plain-default inline")| 默认按钮

  div.margin-10
    div 禁用按钮
    c-button(:disabled="true" type="primary")| 原始按钮
    c-button(:disabled="true" type="danger")| 危险按钮
    c-button(:disabled="true" type="warn")| 警告按钮
    c-button(:disabled="true" type="plain-disabled")| plain按钮
    c-button(:disabled="true" type="default")| 默认按钮

  div.margin-10
    div 小型按钮
    c-button(size="mini",type="primary inline")| 原始按钮
    c-button(size="mini",type="danger inline")| 危险按钮
    c-button(size="mini",type="warn inline")| 警告按钮
    c-button(size="mini",type="default inline")| 默认按钮
  
  div.margin-10    
    c-button(size="mini",type="plain-primary inline")| 原始按钮
    c-button(size="mini",type="plain-danger inline")| 危险按钮
    c-button(size="mini",type="plain-warn inline")| 警告按钮
    c-button(size="mini",type="plain-default inline")| 默认按钮
  

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
        }
      }
    })
