extends ./layout

block title 
    | FLex

block style
    style.
        .item {
            background: #bcf0bb;
            height: 40px;
            line-height: 40px;
            text-align: center;
        } 

block content
    c-panel(title='flex布局', link='/candy/tests/index.html', legend='back menu')
        c-flex(:gutter='2')
            c-item
                div.item 1
        c-flex(:gutter='2')
            c-item
                div.item 1
            c-item
                div.item 2
        c-flex(:gutter='2')
            c-item
                div.item 1
            c-item
                div.item 2
            c-item
                div.item 3
        c-flex(:gutter='2')
            c-item(:span="2")
                div.item 1
            c-item(:span="2")
                div.item 2
            c-item(:offset='4', :span="2")
                div.item 3
            c-item(:span="2")
                div.item 4
        c-flex(:gutter='2', justify-content='flex-end')
            c-item(:span="1")
                div.item 1
            c-item()
                div.item 2
            c-item
                div.item 3


            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                }
            }
        })