extends ./layout

block title 
    | grid

block style
    style.

block content
    c-panel(title='grid', link='/candy/tests/index.html', legend='back menu')
    c-grid(:no-border="true")
        c-grid-item
            div 234d
        c-grid-item
            div 234d
        c-grid-item
            div 234d
        c-grid-item
            div 234d
        c-grid-item
        c-grid-item
            div 234d
        c-grid-item
        c-grid-item
        c-grid-item

    c-grid(:cols='5')
        c-grid-item
            div 11
        c-grid-item
            div 22
        c-grid-item
            div 33
            div 33
            div 33
            div 33
        c-grid-item
            div 44
        c-grid-item
        c-grid-item
            div 66
        c-grid-item
            div 77
        c-grid-item
            div 88
        c-grid-item
            div 99


            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                }
            }
        })