extends ./layout

block title 
    | Icon

block content
  div.margin-10
      c-panel(title='图标', link='/candy/tests/index.html', legend='back menu')
        c-flex(style='margin: 20px 0;')
          c-item
            c-icon(type='warn' icon='ion-aperture')
          c-item
            c-icon(type='success' icon='ion-alert-circled')
          c-item
            c-icon(type='error' icon='ion-home')
          c-item
            c-icon(type='info' icon='ion-flash')
          c-item
            c-icon(type='default' icon='ion-home')

block script
  script.
    new Vue({
      el: '#app',
      data:function () {
        return {
        }
      }
    })