extends ./layout

block title 
    | menu

block content
    c-panel(title='menu', icon='ion-person')
        c-list(title='图片预览', legend='gallery', href='/candy/tests/gallery.html', icon='ion-ios-alarm-outline')
        c-list(title='上传图片', legend='uploader', href='/candy/tests/uploader.html', icon='ion-ios-alarm-outline')

        c-list(title='分页', legend='pagination', href='/candy/tests/pagination.html', icon='ion-ios-alarm-outline')
        c-list(title='日期选择器', legend='datePicker', href='/candy/tests/datepicker.html', icon='ion-ios-alarm-outline')
        c-list(title='选择器', legend='picker', href='/candy/tests/picker.html', icon='ion-ios-alarm-outline')
        
        c-list(title='Toast', legend='toast', href='/candy/tests/toast.html', icon='ion-ios-alarm-outline')
        c-list(title='上拉加载下拉刷新', legend='pull', href='/candy/tests/pull.html', icon='ion-ios-alarm-outline')
        c-list(title='tabbar', legend='tabbar', href='/candy/tests/tabbar.html', icon='ion-ios-alarm-outline')
        c-list(title='navbar', legend='navbar', href='/candy/tests/navbar.html', icon='ion-ios-alarm-outline')
        c-list(title='滑块', legend='slider', href='/candy/tests/slider.html', icon='ion-ios-alarm-outline')
        c-list(title='对话框', legend='dialog', href='/candy/tests/dialog.html', icon='ion-ios-alarm-outline')
        c-list(title='弹出式菜单', legend='actionsheet', href='/candy/tests/actionsheet.html', icon='ion-ios-alarm-outline')
        c-list(title='按钮', legend='button', icon='ion-ios-cog-outline', href='/candy/tests/button.html')
        c-list(title='多选框', legend='checkbox', icon='ion-ios-cog-outline', href='/candy/tests/checkbox.html')
        c-list(title='单选框', legend='radio', icon='ion-ios-cog-outline', href='/candy/tests/radio.html')
        c-list(title='Flex布局', legend='flex', icon='ion-ios-cog-outline', href='/candy/tests/flex.html')
        c-list(title='grid', legend='grid', icon='ion-ios-cog-outline', href='/candy/tests/flex.html')
        c-list(title='图标', legend='icon', icon='ion-ios-cog-outline', href='/candy/tests/icon.html')
        c-list(title='输入框', legend='input', icon='ion-ios-cog-outline', href='/candy/tests/input.html')
        c-list(title='列表', legend='list', icon='ion-ios-cog-outline', href='/candy/tests/list.html')
        //- c-list(title='加载更多', legend='loadmore', icon='ion-ios-cog-outline', href='/candy/tests/loadmore.html')
        c-list(title='区块', legend='panel', icon='ion-ios-cog-outline', href='/candy/tests/panel.html')
        c-list(title='搜索栏', legend='search', icon='ion-ios-cog-outline', href='/candy/tests/search.html')

            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                }
            }
        })