extends ./layout

block title 
    | Panel

block content

        c-panel(title='panel标题', link='/candy/tests/index.html', height="auto", legend='back menu', icon='ion-person')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-alarm-outline')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-cog-outline', href='javascript:;')
            template(slot='footer')
                c-list(title='查看更多', href='javascript:;')
            
        c-panel( title='panel标题', icon='ion-person')
            //- c-list(:title="'new item'+item", legend='pullingDown', v-for="item in up")            
            c-list(:title="item.title", :legend="'说明文字'+item.legend", v-for="item in list")
            //- c-list(:title="'new item'+item", legend='pullingUp', v-for="item in down")
            //- c-list(title='文字标题', legend='说明文字3', href='javascript:;')

block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                    list: [
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"}
                    ],
                    down: [],
                    dowmCount: 1,
                    upCount: 1,
                    up: []

                }
            },
            methods: {
            }
        })