extends ./layout

block title 
    | Panel

block content
    .margin-10

        c-panel(title='panel标题', link='/candy/tests/index.html', legend='back menu', icon='ion-person')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-alarm-outline')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-cog-outline', href='javascript:;')
            template(slot='footer')
                c-list(title='查看更多', href='javascript:;')
            

        c-panel(title='panel标题', icon='ion-person')
            c-list(title='文字标题', legend='说明文字3')
            c-list(title='文字标题', legend='说明文字3', href='javascript:;')

        c-panel(title='panel标题', link='#aa', legend='更多')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-alarm-outline')
            c-list(title='文字标题', legend='说明文字3', icon='ion-ios-cog-outline', href='javascript:;')


            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                }
            }
        })