extends ./layout

block title
  | Picker

block content
    c-panel(title='选择器', link='/candy/tests/index.html', legend='back menu')
      c-button(@click='showPicker =! showPicker', type='primary', size='mini') 一列picker
      c-button(@click='showPicker2 =! showPicker2', type='primary', size='mini') 多列picker
      c-button(@click='showPicker3 =! showPicker3', type='primary', size='mini') 级联picker

      c-picker(:mask-closeable="false", comfirm-text='YES', cancel-text='NO', :list='list1', v-model='showPicker', @cancel='cancel', @confirm='confirm', @change="change")
      c-picker(:list='list2', :value='3',:default-value-index="[1,2,1,0]", v-model='showPicker2', @cancel='cancel', @confirm='confirm')
      c-picker(:list='list3', :default-value-index='[0,0,2]', v-model='showPicker3', @cancel='cancel', @confirm='confirm', @change="change")
        

block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
          showPicker: false,
          showPicker2: false,
          showPicker3: false,
          showPicker4: false,
          list1 : [
              {
                  label: '1111',
                  value: 1,
                  disabled: true // 不可用
              },
              {
                  label: '2222',
                  value: 2
              },
              {
                  label: '33333',
                  value: 3
              },
              {
                  label: '444444',
                  value: 4
              },
              {
                  label: '55555',
                  value: 5
              },
              {
                  label: '66666',
                  value: 6
              },
              {
                  label: '77777',
                  value: 7
              },
              {
                  label: '8888888',
                  value: 8
              },
              {
                  label: '999999',
                  value: 9
              }],
          list2: [[
              {
                  label: 'A1111',
                  value: 11,
                  disabled: true // 不可用
              },
              {
                  label: 'A2222',
                  value: 12
              }],[
              {
                  label: 'B111',
                  value: 21
              },
              {
                  label: 'B2222',
                  value: 22
              },{
                  label: 'B333',
                  value: 23,
                  disabled: true // 不可用
              }],[
              {
                  label: 'C111',
                  value: 31
              },
              {
                  label: 'C222',
                  value: 32
              },{
                  label: 'C333',
                  value: 33,
                  disabled: true // 不可用
              }],[
              {
                  label: 'D1111',
                  value: 41
              },
              {
                  label: 'D2222',
                  value: 42
              },{
                  label: 'D333',
                  value: 43,
                  disabled: true // 不可用
              }]],

          list3: [
          {
              label: '河北省',
              value: 1,
              children: [
                  {
                        label: '保定市',
                        value: 11,
                        children: [
                            {
                                label: '北市区',
                                value: 111
                            },
                            {
                                label: '新市区',
                                value: 112
                            },
                            {
                                label: '南市区',
                                value: 113
                            }
                        ]
                      
                  },
                  {
                        label: '唐山市',
                        value: 12,
                        children: [
                            {
                                label: 'A区',
                                value: 121
                            },
                            {
                                label: 'B区',
                                value: 122
                            },
                            {
                                label: 'C区',
                                value: 123
                            }
                        ]
                  }
              ]
          },
          {
              label: '北京市',
              value: 2,
              children: [
                  {
                        label: '北京市',
                        value: 21,
                        children: [
                            {
                                label: '海淀区',
                                value: 211
                            },
                            {
                                label: '朝阳区',
                                value: 212
                            },
                            {
                                label: '通州区',
                                value: 213
                            },
                            {
                                label: '昌平',
                                value: 214
                            },
                            {
                                label: '顺义',
                                value: 215
                            }
                        ]
                  }
              ]
          },
          {
              label: '云南省',
              value: 3,
              children: [
                    {
                        label: '昆明市',
                        value: 31,
                        children: [
                            {
                                label: '五华区',
                                value: 311
                            },{
                                label: '西山区',
                                value: 312
                            },{
                                label: '东川区',
                                value: 313
                            },{
                                label: '西盟佤族自治区',
                                value: 314
                            }
                        ]
                    },
                    {
                        label: '丽江市',
                        value: 32,
                        children: [
                            {
                                label: '古城区',
                                value: 321
                            },{
                                label: '永胜县',
                                value: 322
                            },{
                                label: '华坪县',
                                value: 323
                            }
                        ]
                    },
                    {
                        label: '普洱市',
                        value: 33,
                        children: [
                            {
                                label: '思茅区',
                                value: 331
                            },{
                                label: '景谷傣族彝族自治县',
                                value: 332
                            },{
                                label: '江城哈尼族彝族自治县',
                                value: 333
                            },{
                                label: '西盟佤族自治区',
                                value: 334
                            }
                        ]
                  }
              ]
          }
          ],
        }
      },
      methods: {

        cancel () {
          alert('cancel')
        },
        confirm(value){

            alert("confirm : "+JSON.stringify(value))

            console.log("confirm : ", value)
        },
        change () {
            alert("value has been changed!")
        }

      }
    })