extends ./layout

block title 
    | Pull

block content

        c-panel(title='panel标题', link='/candy/tests/index.html', legend='back menu', icon='ion-person')
            c-pull(:pull-down-refresh="{msg: '已经是最新了'}", :pull-up-load="true", @pulling-up="pullingUp", @pulling-down="pullingDown")
                c-list(:title="item.title", :legend="'说明文字'+item.legend", v-for="item in list")
            template(slot='footer')

block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                    list: [
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"},
                        {title: "native", legend: "item"}
                    ],
                    down: [],
                    dowmCount: 1,
                    upCount: 1,
                    up: []

                }
            },
            methods: {
                pullingUp () {
                    setTimeout(_ => {

                        if (this.list.length >= 20) {
                            this.list = this.list.slice(0)
                            return
                        }
                        
                        for(var i=0;i<5;i++){
                            this.list.push({title: "up"+ this.upCount++, legend: "up"})
                        }
                    }, 2000)
                    console.log("pullingUp:")
                },
                pullingDown () {

                    setTimeout(_ => {

                        if (this.list.length >= 20) {
                            this.list = this.list.slice(0)
                            return
                        }

                        for(var i=0;i<5;i++){
                            this.list.unshift({title: "down"+ this.dowmCount++, legend: "down"})
                        }
                    }, 2000)
                    console.log("pullingDown:")
                    
                }
            }
        })