extends ./layout

block title 
    | Search

block content
    c-panel(title='搜索栏', link='/candy/tests/index.html', legend='back menu')
        c-searchbar(placeholder='搜索内容', v-model='aaa')
            div(v-show='show', slot="result")
                c-list(:title='item.label', href='#', v-for="item in resList")

            
block script
    script.
        new Vue({
        el: '#app',
            data () {
                return {
                    aaa: '',
                    list: [{label: "1234qw"},{label: "1134"},{label: "1224"},{label: "1224341"}],
                    resList: [],
                    show: false
                }
            },
            watch : {
                aaa(val){
                    if(this.aaa){
                        this.show = true
                    } else {
                        this.show = false
                    }
                    this.resList = this.list.filter(o => {
                        return o.label.indexOf(val) > -1
                    })
                }
            }
        })