extends ./layout



block title
  | Slider

block content
  div.margin-10
    c-panel(link='/candy/tests/menu.html', legend='back menu')
        c-slider( v-model='code')


block script
  script.
    new Vue({
      el: '#app',
      data () {
        return {
          code: 30
        }
      }
    })
