extends ./layout

block title
  | uploader

block content
    div.margin-10
        c-panel(link='/candy/tests/index.html',title='uploader', legend='back menu')

            c-uploader(:limit="20", 
                        action="http://www.actionphp.com/action.php", 
                        :files="files",
                        :on-success="onSuccess",
                        :on-error="onError",
                        :on-progress="onProgress",
                        :on-preview="onPreview",
                        accept="image/*",
                        :before-upload="beforeUpload"
                    )

            c-gallery(v-model="show", 
                    :img='imgUrl',
                    :on-click="clickBtn")

block script
  script.

    new Vue({
        el: '#app',
        data () {
            return {
                files:[],
                //- files: [{url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"},
                //- {url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"},
                //- {url:"http://img02.tooopen.com/images/20160408/tooopen_sy_158723161481.jpg"}],
                id: 1,
                show: false,
                imgUrl: ''
            }
        },
        methods: {
            onSuccess(res, file){
                this.files.push({
                    id: res.id || this.id++,
                    name: res.name || file.name,
                    url: res.url
                })
                console.log("files",files)
            },
            onError(res, file){
                //- console.log(res, file)
            },
            onProgress(file, o){
                console.log("file:", file)
            },
            onPreview(url){
                this.imgUrl = url
                this.show = true
            },
            clickBtn(){
                this.files = this.files.filter(o => {
                    return o.url != this.imgUrl
                })

                this.show = false
            },
            beforeUpload (file, callback){

                if (file.name.indexOf('.jpeg') !== -1){
                    alert('不能上传.jpeg格式的图片')
                    callback(false)
                }
                else {
                    callback(true)
                }
            }
        }
    })
