
.c-toast {
    position: fixed;
    z-index: 5000;
    width: auto;
    max-width: 130px;
    padding: 0 20px;
    min-height: 7.6em;

    top: 180px;
    left: 50%;
    transform: translateX(-50%);

    background: rgba(17,17,17,0.7);
    text-align: center;
    border-radius: 5px;
    color: #FFFFFF;
}
.c-icon_toast {
    // margin: 22px 0 10px;
    margin: 10px 0;
    display: block;

    &.c-native-icon-success {
        &:before {
            color: #FFFFFF;
        }
    }
    
    &.c-native-icon-error{
        &:before {
            color: #FFFFFF;
        }
    }
}

.c-toast__content {
    margin: 0 0 15px;
}
