
.c-navbar {
    // display: flex;
    position: absolute;
    z-index: 500;
    top: 0;
    width: 100%;
    overflow: hidden;

    & + .c-tab__panel {
        padding-top: 50px;
        padding-bottom: 0;
    }
}

.c-navbar__content {
    position: absolute;
    display: flex;
    background-color: #EAEAEA;
    // background-color: #FAFAFA;

    // &:after {
    //     @include setBottomLine(#CCCCCC);
    // }
}


.c-navbar__item {
    position: relative;
    display: block;
    flex: 1;
    padding: 13px 0;
    text-align: center;
    font-size: 15px;
    @include setTapColor();

    &:active {
        background-color: #EDEDED;
    }

    &.c-bar__item_on {
        background-color: #FAFAFA;
        color: $cColorPrimary;

        // @include setBottomLine(#FAFAFA);
        // background-color: #EAEAEA;
    }

    &:after {
        @include setRightLine(#CCCCCC);
        @include setBottomLine(#CCCCCC);
        
    }

    &:last-child {
        &:after {
            display: none;
        }
    }
}