@import '../../common/_common';

.c-flex {
    display: -webkit-flex;
    display: flex;
}
.c-flex__item{
    flex: 1;
}

@for $i from 1 through 12 {
    .c-flex__item-offset_#{$i} {
         margin-left: 100% / 12 * $i
    } 
}