.c-loadmore{
    width: 65%;
    margin:1.5em auto;
    line-height: 1.6em;
    font-size:14px;
    text-align: center;
}
.c-loadmore__tips{
    display: inline-block;
    vertical-align: middle;
    color:$cTextColorGray;
    
}

.c-loadmore_line{
    border-top:1px solid $cLineColorLight;
    margin-top:2.4em;
    .c-loadmore__tips{
        position: relative;
        top:-.9em;
        padding:0 .55em;
        background-color: #FFFFFF;
    }
}
.c-loadmore_dot{
    .c-loadmore__tips{
        padding:0 .16em;
        &:before{
            content: " ";
            width:4px;
            height:4px;
            border-radius:50%;
            background-color: $cLineColorLight;
            display: inline-block;
            position: relative;
            vertical-align: 0;
            top:-.16em;
        }
    }
}


// loading
.c-loading-effext{
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    // margin-right: 8px;
}

.c-loading-effext span{
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #929292;
    position: absolute;
    -webkit-animation: load 1.04s ease infinite;
    animation: load 1.04s ease infinite;
}

.c-toast {
    .c-loading-effext {
        margin: 5px 0 10px;
    }
}

@-webkit-keyframes load{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0.2;
    }
}
.c-loading-effext span:nth-child(1){
    left: 0;
    top: 50%;
    transform: translate(0, -50%);

    -webkit-animation-delay:0.13s;
    animation-delay:0.13s;
}
.c-loading-effext span:nth-child(2){
    left: 14.6%;
    top: 14.6%;
    // transform: translate(-50%, -50%);
    -webkit-animation-delay:0.26s;
    animation-delay:0.26s;
}
.c-loading-effext span:nth-child(3){
    left: 50%;
    transform: translate(-50%, 0); 
    top: 0; 

    -webkit-animation-delay:0.39s;
    animation-delay:0.39s;
}
.c-loading-effext span:nth-child(4){
    top: 14.6%;
    right:14.6%;
    // transform: translate(50%, 0);
    -webkit-animation-delay:0.52s;
    animation-delay:0.52s;
}
.c-loading-effext span:nth-child(5){
    right: 0;
    top: 50%; 
    transform: translate(0, -50%);
     
    -webkit-animation-delay:0.65s;
    animation-delay:0.65s;
}
.c-loading-effext span:nth-child(6){
    right: 14.6%;
    bottom:14.6%;
    // transform: translate(50%, 50%);
    
    -webkit-animation-delay:0.78s;
    animation-delay:0.78s;
}
.c-loading-effext span:nth-child(7){
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-animation-delay:0.91s;
    animation-delay:0.91s;
}
.c-loading-effext span:nth-child(8){
    bottom: 14.6%;
    left: 14.6%;
    // transform: translate(-50%, 50%);
    
    -webkit-animation-delay:1.04s;
    animation-delay:1.04s;
}