@import './_mixin.scss';

// 变量
// color
$cColorPrimary: #1AAD19;
$cColorWarn: #E64340;

// link
$cLinkColorDefault: #586C94;

// background
$cBgColorDefault: #EFEFF4;
$cBgColorActive: #ECECEC;

// line
$cLineColorLight: #E5E5E5;
$cLineColorDark: #BCBAB6;

// text
$cTextColorTitle: #000000;
$cTextColorTips: #B2B2B2;
$cTextColorWarn: $cColorWarn;
$cTextColorGray: #999999;

// 全局字体 font
$cFontEN:-apple-system-font,"Helvetica Neue";
$cFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
$cFontSans:sans-serif;
$cFontDefault:$cFontEN,$cFontSans;

// reset
html, body {
    height: 100%;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    line-height: 1.6;
    font-family: $cFontDefault;
}

* {
    margin: 0;
    padding: 0;
}

a img {
    border: 0;
}

a {
    text-decoration: none;
    @include setTapColor;
}