
[class^="c-icon-"]:before, [class*=" c-icon-"]:before {
    margin: 0;
    line-height: 1;
}
[class^="c-icon-"], [class*=" c-icon-"] {
    line-height: 1;
}
.c-icon-success {
    font-size: 23px;
    color: #09BB07;
}
.c-icon-waiting {
    font-size: 23px;
    color: #10AEFF;
}
.c-icon-warn {
    font-size: 23px;
    color: #F43530;
}
.c-icon-info {
    font-size: 23px;
    color: #10AEFF;
}

.c-icon-success-circle {
    font-size: 23px;
    color: #09BB07;
}
.c-icon-success-no-circle {
    font-size: 23px;
    color: #09BB07;
}
.c-icon-waiting-circle {
    font-size: 23px;
    color: #10AEFF;
}
.c-icon-circle {
    font-size: 23px;
    color: #C9C9C9;
}
.c-icon-download {
    font-size: 23px;
    color: #09BB07;
}

.c-icon-info-circle {
    font-size: 23px;
    color: #09BB07;
}

.c-icon-safe-success {
    color: #09BB07;
}
.c-icon-safe-warn {
    color: #FFBE00;
}

.c-icon-cancel {
    color: #F43530;
    font-size: 22px;
}

.c-icon-search {
    color: #B2B2B2;
    font-size: 14px;
}

.c-icon-clear {
    color: #B2B2B2;
    font-size: 14px;
}

.c-icon-delete {
    &.c-icon_gallery-delete{
        color:#FFFFFF;
        font-size:22px;
    }
}

.c-icon_msg {
    font-size: 93px;
    &.c-icon-warn {
        color: #F76260;
    }
}
.c-icon_msg-primary {
    font-size: 93px;
    &.c-icon-warn {
        color: #FFBE00;
    }
}
