@font-face {
    font-family: 'cico';
    src:  url('/libs/cfonts/cico.eot');
    src:  url('/libs/cfonts/cico.eot') format('embedded-opentype'),
        url('/libs/cfonts/cico.ttf') format('truetype'),
        url('/libs/cfonts/cico.woff') format('woff'),
        url('/libs/cfonts/cico.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="c-native-icon-"]:before, [class*=" c-native-icon-"]:before {
    margin: 0;
    // font-size: 48px;
    // line-height: 1;
}

[class^="c-native-icon-"], [class*=" c-native-icon-"] {
    font-family: 'cico';
    // line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.c-native-icon-spinner9:before {
    content: "\e982";
}
.c-native-icon-search:before {
    content: "\e986";
}
.c-native-icon-error:before {
    content: "\ea0f";
}
.c-native-icon-success:before {
    content: "\ea10";
}
.c-native-icon-warning:before {
    content: "\ea07";
}
.c-native-icon-notification:before {
    content: "\ea08";
}
.c-native-icon-plus:before {
    content: "\ea0a";
}
.c-native-icon-minus:before {
    content: "\ea0b";
}
.c-native-icon-cancel-circle:before {
    content: "\ea0d";
}
.c-native-icon-blocked:before {
    content: "\ea0e";
}
.c-native-icon-error:before {
    content: "\ea0f";
}
.c-native-icon-success:before {
    content: "\ea10";
}
.c-native-icon-checkmark2:before {
    content: "\ea11";
}
.c-native-icon-arrow-left:before {
    content: "\ea38";
}
.c-native-icon-arrow-right:before {
    content: "\ea34";
}
.c-native-icon-circle-left:before {
    content: "\ea44";
}
.c-native-icon-circle-right:before {
    content: "\ea42";
}


[class^="c-icon-"]:before, [class*=" c-icon-"]:before {
    margin: 0;
    line-height: 1;
}
[class^="c-icon-"], [class*=" c-icon-"] {
    line-height: 1;
}
.c-icon-default {
    font-size: 23px;
    color: #B2B2B2;
}
.c-icon-success {
    font-size: 23px;
    color: #09BB07;
}
.c-icon-warn {
    font-size: 23px;
    color: #FFBE00;
}
.c-icon-error {
    font-size: 23px;
    color: #F43530;
}
.c-icon-info {
    font-size: 23px;
    color: #10AEFF;
}

.c-icon-cancel {
    color: #F43530;
    font-size: 22px;
}

.c-icon-search {
    color: #B2B2B2;
    font-size: 14px;
}

.c-icon-clear {
    color: #B2B2B2;
    font-size: 14px;
}

.c-icon-delete {
    &.c-icon_gallery-delete{
        color:#FFFFFF;
        font-size:22px;
    }
}

.c-icon_msg {
    font-size: 93px;
    &.c-icon-warn {
        color: #F76260;
    }
}
.c-icon_msg-primary {
    font-size: 93px;
    &.c-icon-warn {
        color: #FFBE00;
    }
}
